<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Clay Dunston </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' type="text/css" />
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.css" type="text/css" />
  <link rel="stylesheet" href="./styles/vuetify.custom.css" type="text/css" />
  <link rel="icon" type="image/png" href="./assets/favicon.png" sizes="32x32" />
</head>
<body>
  <div id="app">
    <v-app dark>
      <v-navigation-drawer
        temporary
        v-model="drawer">
        <v-list>
          <v-subheader></v-subheader>
          <v-list-tile
            v-for="i in itemz"
            :key="i"
            @click="snackbar = true">
            <v-list-tile-action>
              <v-icon v-html="i.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="i.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-subheader> Projects </v-subheader>
          <v-list-tile
            v-for="i in projects"
            :key="i"
            :href="i.link">
              <v-list-tile-action>
                <v-icon v-html="i.icon"></v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title v-text="i.title"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
        <v-divider></v-divider>
        <v-subheader> Elsewhere </v-subheader>
        <v-list-tile
          v-for="i in accounts"
          :key="i"
          :href="i.link">
            <v-list-tile-action>
              <v-icon v-html="i.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="i.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title v-text="title"></v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
<!--           <v-btn flat class="primary--text"> ᕕ( ᐛ )ᕗ </v-btn> -->
          <v-btn flat class="primary--text" @click="snackbar = true"> Home </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <main>
        <br>
        <v-container fluid>
<!-- ================================================================= -->
          <v-layout row align-center justify-center>
            <v-flex xs12 sm12 m12 lg12 xl12>
              <v-parallax class="elevation-1" :src="imgSrc">
                <v-layout column align-center justify-center>
                  <h1 class="primary--text text-xs-center"> Clay Dunston </h1>
                </v-layout>
              </v-parallax>
            </v-flex>
          </v-layout>
<!-- ======================================================================= -->
          <!-- <v-layout row align-center justify-center>
              <v-flex xs12 sm12 md8 class="mt-5">
                <v-card class="elevation-1">
                  <v-toolbar class="primary elevation-1">
                    <v-toolbar-title class="secondary--text"> This Week's Stats: </v-toolbar-title>
                  </v-toolbar>
                  <v-container fluid>
                    <figure><embed src="https://wakatime.com/share/@dunstontc/b1d612f5-12f9-4eee-ad2e-e816e32061f4.svg"></embed></figure>
                  </v-container>
                </v-card>
              </v-flex>
            </v-layout> -->
<!-- ======================================================================= -->
          <v-layout row align-center justify-center>
              <v-flex xs12 sm12 md10 lg10 class="mt-5">
                <v-card class="grid">
                  <v-toolbar class="primary elevation-1">
                    <v-toolbar-title class="secondary--text"> Technology </v-toolbar-title>
                    <v-spacer></v-spacer>
                  </v-toolbar>
                  <v-container fluid grid-list-md class="mt-4">
                    <v-layout row wrap class="logos-container">
                        <div class="svg-container" v-for="i of logos" :key="i">
                          <a :id="i.id"
                             :alt="i.title"
                             :title="i.title"
                             v-bind:href="i.link">
                            <div v-html="i.content"></div>
                          </a>
                        </div>
                    </v-layout>
                  </v-container>
                </v-card>
              </v-flex>
            </v-layout>
<!-- ======================================================================= -->
          <v-layout row align-center justify-center>
              <v-flex xs12 sm12 md8 class="mt-5">
                <v-card class="elevation-1">
                    <v-layout justify-space-around>
                      <span class="group">
                          <v-btn
                              v-for="i in accounts" :key="i"
                              icon tag="a" :href="i.link"
                              class="ml-3 mr-3">
                              <v-icon medium class="primary--text">
                                {{i.icon}}
                              </v-icon>
                          </v-btn>
                      </span>
                    </v-layout>
                  </v-container>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
      </main>
<!-- ======================================================================= -->
      <v-footer class="pa-3 mt-5 primary secondary--text">
        <a href="https://vuetifyjs.com/" class="mt-1 secondary--text" target="_blank" alt="Vuetify" title="Vuetify">
          created with &nbsp;
        </a>
        <!-- <div  class="pt-1"> -->
          <a href="https://vuetifyjs.com/" class="mt-1" target="_blank" alt="Vuetify" title="Vuetify">
            <svg id="vuetify-logo" viewBox="0 0 262.5 300" height="20px" xmlns="http://www.w3.org/2000/svg">
              <polyline fill="#1697f6" points="131.67 3 71.55 3 131.67 145.1" />
              <polyline fill="#7bc6ff" points="131.67 186.81 131.67 297.1 3 45.89 70.4 45.89" />
              <polyline fill="#1867c0" points="131.67 3 191.79 3 131.67 145.1" />
              <polyline fill="#aeddff" points="131.67 186.81 131.67 297.1 260.34 45.89 192.94 45.89" />
            </svg>
          </a>
        <!-- </div> -->
        <v-spacer></v-spacer>
        <div> <v-icon light alt="Hosted" title="Hosted">mdi-cloud</v-icon> with <v-icon light alt="Love" title="Love">mdi-heart</v-icon> by </div>
        &nbsp;
        <a href="https://github.com/" target="_blank" alt="GitHub" title="GitHub"><v-icon light>mdi-github-circle</v-icon></a>
        <!-- <v-spacer></v-spacer> -->
        <!-- <div> &copy; {{ new Date().getFullYear() }} </div> -->
      </v-footer>
<!-- ======================================================================= -->
      <v-snackbar
        timeout="2000"
        top
        vertical
        class="primary mt-2"
        v-model="snackbar">
        <div>
          <v-btn flat class="secondary--text" @click.native="snackbar = false"> Welcome Home <3 </v-btn>
        </div>
      </v-snackbar>
    </v-app>
  </div>

  <script src="./scripts/vue.min.js"></script>
  <script src="./scripts/vuetify.min.js"></script>
  <script src="./scripts/logos.js"></script>

<script>


Vue.component('page', {
  template: '#page'
})

new Vue({
  el: '#app',
  data: {
    title   : ' ',
    drawer  : false,
    snackbar: false,
    logos   : logoArray.sort(() => Math.random() - 0.5),
    resume  : 'https://drive.google.com/open?id=0B4VVqr5z6UhjVmY1WmtJb2xqeE0',
    imgSrc  : 'https://raw.githubusercontent.com/dunstontc/assets/master/images/Above-Ho-Chi-Minh-City-Vietnam.jpg',
    accounts: [
      { icon: 'mdi-github-circle',   title: 'GitHub',   link: "https://github.com/dunstontc" },
      { icon: 'mdi-codepen',         title: 'Codepen',  link: "https://codepen.io/dunstontc" },
      { icon: 'mdi-facebook-box',    title: 'Facebook', link: "https://www.facebook.com/dunstontc" },
      { icon: 'mdi-linkedin-box',    title: 'LinkedIn', link: "https://www.linkedin.com/in/clay-dunston/" },
    ],
    itemz   : [
      { icon: '',                        title: '', url: '' },
    ],
    projects: [
      {
        icon       : 'mdi-creation',
        title      : 'Dark+ (atom)',
        link       : 'https://atom.io/themes/dark-plus-syntax',
      },
      {
        icon       : 'mdi-rocket',
        title      : 'Projectile',
        link       : 'https://github.com/dunstontc/projectile.nvim',
      },
      {
        icon       : 'mdi-clippy',
        title      : 'Dark+ (vscode)',
        link       : 'https://marketplace.visualstudio.com/items?itemName=dunstontc.dark-plus-syntax',
      },
      {
        icon       : 'mdi-github-face',
        title      : 'GitHub Pages',
        link       : 'https://github.com/dunstontc/dunstontc.github.io',
      },
    ],
  },
})
</script>
</body>
</html>
